/* Página de Contato */

/* Formulário de Contato */
.formulario-contato {
    background-color: var(--branco);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.formulario-contato input, .formulario-contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario-contato button {
    background-color: var(--cor-azul-escuro);
    color: var(--branco);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formulario-contato button:hover {
    background-color: var(--cor-azul-claro);
}
